.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.h1-input input {
    outline: none;
    min-height: 50px;
    width: 95%;
    text-align: center;
    font-size: 1em;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px;
}

#time-input input {
    outline: none;
    min-height: 50px;
    width: 95%;
    text-align: center;
    font-size: 1em;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px;
}

h1 {
    font-size: 6em;
    font-family: Arial, Helvetica, sans-serif;
    overflow-wrap: break-word;
}

.h1-text {
    padding: 16.5px 50px;
    font-weight: normal;
    font-size: 4em;
}

#header-text {
    min-height: 60px;
    margin-top: 10%;
}

#countdown {
    margin-top: 50px;
}


#countdown-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}


#start-btn,
#stop-btn, 
#reset-btn {
    padding: 18px 40px;
    border-radius: 5px;
    margin: 0px 15px;
    color: white;
    -webkit-box-shadow: 5px 5px 8px -1px rgba(0,0,0,0.28);
    -moz-box-shadow: 5px 5px 8px -1px rgba(0,0,0,0.28);
    box-shadow: 5px 5px 8px -1px rgba(0,0,0,0.28);
}

#start-btn:hover, 
#stop-btn:hover, 
#reset-btn:hover {
    cursor: pointer;
}

#start-btn {
    background-color: rgb(16, 187, 0);
}

#start-btn:active {
    background-color: rgb(14, 165, 0);
}

#stop-btn {
    background-color: rgb(204, 2, 2);
}

#stop-btn:active {
    background-color: rgb(175, 1, 1);
}

#reset-btn {
    background-color: rgb(0, 0, 0);
}

#reset-btn:active {
    background-color: rgb(32, 32, 32);
}

#cuckoo-text {
    font-weight: normal;
}

#cuckoo-time {
    font-size: 10em;
}

.debug {
    width: 300px;
    min-height: 550px;
    border: 1px solid rgb(134, 134, 134);
    position: absolute;
    top: 10px;
}

.debug span {
    padding: 5px;
}

.kuku-logo {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.kuku-logo img {
    width: 300px;

}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.defined-texts {
    position: absolute;
    bottom: 50px;
    left: 50px;
    padding: 5px 20px;
    border: 1px solid black;
}

.defined-texts .title {
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
}

.defined-texts-item:hover {
    cursor: pointer;
    transform: scale(1.01);
}